<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>
        给爷爬
    </title>
    <style>
        .headMsg {
            color: #333333;
            font-size: 30px;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <div class="headMsg">错误代码:{$code}</div>
    <div class="headMsg">错误信息:{$msg}</div>
    <img src="http://wyxs.talesrunner.org/static/admin_img/4.gif" alt="您配吗?">
    <img src="http://wyxs.talesrunner.org/static/admin_img/5.gif" alt="您配吗?">
    <img src="http://wyxs.talesrunner.org/static/admin_img/2.gif" alt="您配吗?">
    <img src="http://wyxs.talesrunner.org/static/admin_img/3.gif" alt="您配吗?">
    <img src="http://wyxs.talesrunner.org/static/admin_img/1.gif" alt="您配吗?">
</body>