<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>那咋办嘛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <style>
        .page-content table {
            font-size: 30px;
            text-align: center;
        }

        .page-content table th {
            text-align: center;
        }

        #app .layui-input.page {
            display: inline-block;
            width: 50px;
        }
    </style>
</head>

<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">那咋办嘛</a></div>
        <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">门在这</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <!-- <dd><a href="">个人信息</a></dd>
                    <dd><a href="">切换帐号</a></dd> -->
                    <dd><a onclick="logOut()">滚</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li class="list" current>
                        <a href="./index.html">
                            <i class="iconfont">&#xe761;</i>
                            欢迎页面
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                    </li>
                    <li class="list">
                        <a href="javascript:;">
                            <i class="iconfont">&#xe70b;</i>
                            用户管理
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="member-list.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    用户列表
                                </a>
                            </li>
                            <li>
                                <a href="member-del.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    用户删除
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="list">
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6a3;</i>
                            商品管理
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="./book-list.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    商品列表
                                </a>
                            </li>
                        </ul>
                        <ul class="sub-menu">
                            <li>
                                <a href="./book-add.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    商品新增
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="list">
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6a3;</i>
                            订单管理
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="./order-list.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    订单列表
                                </a>
                            </li>
                            <li>
                                <a href="./order-info.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    订单详情
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">

            <div id="app">
                <div class="layui-inline">
                    <label class="layui-form-label">ID搜索</label>
                    <div class="layui-input-inline">
                        <input v-model='query_book_id' @blur='fuzzyQuery' type="tel" name="phone" lay-verify="phone"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">名称搜索</label>
                    <div class="layui-input-inline">
                        <input v-model='query_book_name' @blur='fuzzyQuery' type="tel" name="phone" lay-verify="phone"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">类别搜索</label>
                    <div class="layui-input-inline">
                        <input v-model='query_type' @blur='fuzzyQuery' type="tel" name="phone" lay-verify="phone"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">作者搜索</label>
                    <div class="layui-input-inline">
                        <input v-model='query_author' @blur='fuzzyQuery' type="tel" name="phone" lay-verify="phone"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>类别</th>
                            <th>价格</th>
                            <th>数量</th>
                            <th>作者</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in bookinfo">
                            <td>{{item.book_id}}</td>
                            <td>{{item.book_name}}</td>
                            <td>{{item.type_name}}</td>
                            <td>{{item.book_price}}</td>
                            <td>{{item.book_count}}</td>
                            <td>{{item.book_author}}</td>
                            <td>
                                <a @click="info(item.book_id)">详情</a>
                                <a @click="del(item.book_id)">删除</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <button @click='prePage' class="layui-btn" lay-submit="" lay-filter="demo1">上一页</button>
                <input @blur="appointPage" type="text" v-model:value="currentPage" class="layui-input page">
                <button @click='nextPage' class="layui-btn" lay-submit="" lay-filter="demo1">下一页</button>
            </div>

        </div>

        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                currentPage: '',
                msg: 'hello',
                bookinfo: [],
                query_book_name: '',
                query_book_id: '',
                query_type: '',
                query_author: '',
            },
            mounted() {
                temp = getQueryString('p');
                this.currentPage = temp == null ? 1 : temp;
                let _this = this;
                $.ajax({
                    type: "GET",
                    url: "http://admin.wyxs.talesrunner.org/admin/bookList/" + _this.currentPage,
                    success: function (response) {
                        if (response.code == 200) {
                            _this.bookinfo = response.data;
                        } else if (response.code == 403) {
                            alert(response.msg);
                            location.href =
                                'http://admin.wyxs.talesrunner.org/static/admin/index.html';
                        }
                    }
                });
            },
            methods: {
                info: function (book_id) {
                    location.href = "book-info.html?book_id=" + book_id;
                },
                del: function (book_id) {
                    $.ajax({
                        type: "POST",
                        url: "http://admin.wyxs.talesrunner.org/admin/delBook",
                        data: {
                            book_id: book_id
                        },
                        success: function (response) {
                            if (response.code == 200) {
                                alert('删除成功');
                                location.href =
                                    'http://admin.wyxs.talesrunner.org/static/admin/book-list.html';
                            } else if (response.code == 403) {
                                alert(response.msg);
                                location.href =
                                    'http://admin.wyxs.talesrunner.org/static/admin/index.html';
                            }
                        },
                    });
                },
                fuzzyQuery: function () {
                    let _this = this;
                    $.ajax({
                        type: "POST",
                        url: "http://admin.wyxs.talesrunner.org/admin/findBookFuzzy",
                        data: {
                            book_id: this.query_book_id,
                            book_name: this.query_book_name,
                            book_type: this.query_type,
                            book_author: this.query_author,
                        },
                        success: function (response) {
                            if (response.code == 200) {
                                console.log(response.data);
                                _this.bookinfo = response.data;
                            } else if (response.code == 403) {
                                alert(response.msg);
                                location.href =
                                    'http://admin.wyxs.talesrunner.org/static/admin/index.html';
                            }
                        }
                    });
                },
                nextPage: function () {
                    if (this.bookinfo.length < 10) {
                        return;
                    }
                    location.href =
                        "http://admin.wyxs.talesrunner.org/static/admin/book-list.html?p=" + (parseInt(
                            this.currentPage) + 1);
                },
                prePage: function () {
                    if (this.currentPage <= 1) {
                        return;
                    }
                    location.href =
                        "http://admin.wyxs.talesrunner.org/static/admin/book-list.html?p=" + (parseInt(
                            this.currentPage) - 1);
                },
                appointPage: function () {
                    location.href =
                        "http://admin.wyxs.talesrunner.org/static/admin/book-list.html?p=" + this
                        .currentPage;
                }
            },
        });

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        function logOut() {
            $.ajax({
                type: "GET",
                url: "http://admin.wyxs.talesrunner.org/admin/logOut",
                success: function (response) {
                    if (response.code == 200) {
                        location.href = './login.html';
                    } else {
                        alert("慢点爬");
                    }
                }
            });
        }
    </script>
</body>

</html>